@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Permanent+Marker&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Permanent Marker', cursive;
    font-weight: 100;
    background-image: url("../images/grunge-3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* logo */

#logo {
    font-family: 'Bungee Outline', cursive;
    font-size: 1em;
    letter-spacing: 1px;
    float: left;
    padding-top: 4%;
    padding-bottom: 3%;
    margin-left: 5%;
    color: #ffffff;

}


/* nav links */

#menu {
    color: #ff00bf;
    font-size: 1.5em;
    letter-spacing: 1px;
}

#menu,
#logo {
    line-height: 1em;
}

#menu li {
    float: right;
    list-style-type: none;
    padding-top: 2%;
    padding-bottom: 3%;
    margin-right: 5%;
}

#menu a {
    font-size: 0.5em;
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #ffffff;
}

.active {
    border-bottom: 1px solid #edd496;
}


/* hero image */

.hero {
    position: inherit;
    width: 100vw;
    height: 60vh;
    display: flex;
    margin-top: 30%;

    background-repeat: no-repeat;
    background: url(../images/hero-image-3-2560x1004.png);
    background-size: cover;
    background-position: center center;
}

.hero {

    /* animates zoom on loading page banner */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-delay: 50ms;
    animation-fill-mode: forwards;
}

    /* creates zoom for hero image */
    @keyframes hero-zoom {
        from {
            transform: scale(1.1);
        }

        to {
            transform: scale(1.0);
        }
}

h2 {
    font-family: 'Permanent Marker', cursive;
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1em;
    padding-top: 15%;
    margin-left: auto;
    margin-right: auto;
    color: #ff00bf;
}

h3 {
    font-family: 'Permanent Marker', cursive;
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1em;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    color: #91ff00;
}

h4 {
    font-family: 'Permanent Marker', cursive;
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1em;
    padding-top: 0%;
    margin-left: auto;
    margin-right: auto;
    color: #ff00bf;
}

#about-home-info {
    font-family: 'Russo One', cursive;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 8%;
    padding-right: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
    color: #ffffff;
}

#about-home-image {
    position: relative;
    width: 100vw;
    display: flex;

    /* animates zoom on image one */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-delay: 50ms;
    animation-fill-mode: forwards;
}

#about-home-info-two {
    font-family: 'Russo One', cursive;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 10%;
    padding-right: 5%;
    padding-bottom: 10%;
    padding-left: 5%;
    color: #ffffff;
}

/* creates zoom for image one */
@keyframes about-image-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}




/* home section logo motu */


#home-logo-motu {
    width: 100%;
    margin-left: 1%;
    margin-top: 5%;
}



/* home section logo bl */


#home-logo-bl {
    width: 60%;
    padding-top: 5%;
    padding-left: 20%;

}



/* home section logo sw */


#home-logo-stsw {
    width: 67%;
    padding: 3%;
    padding-bottom: 20%;
    padding-left: 16%;
}


/* CSS for thevault.html page */

#herotwo-image {
    position: inherit;
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-top: 30%;
    background-repeat: no-repeat;
    background: url(../images/herot-two-banner.png);
    background-size: cover;
    background-position: center center;

    /* animates zoom on image one */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-delay: 50ms;
    animation-fill-mode: forwards;

}

/* creates zoom for image one */
@keyframes about-image-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}


h4 {
    padding-top: 10%;
}

/* vault section logo motu */

#vault-logo-motu {
    width: 100vw;
    height: auto;
    margin-top: 10%;
}

/* vault section logo bl */

#vault-logo-bl {
    width: 70vw;
    height: auto;
    padding-top: 5%;
    padding-left: 15%;
}

/* vault section logo sw */

#vault-logo-stsw {
    width: 60vw;
    height: auto;
    padding-top: 5%;
    padding-left: 20%;
}

/* footer */

.footer-placeholder {
    width: 100vw;
    padding-top: 10%;
    background-color: rgba(0, 0, 0, 0.5);
}

.footer-info {
    font-family: system-ui;
    font-size: 1em;
    line-height: 17px;
    letter-spacing: 0.2px;
    padding: 12%;
    margin-bottom: -9%;
    color: #ffffff;
}

/* social networks */

.social-networks {
    text-align: left;
    margin-left: 12%;
    padding-bottom: 5%;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 100%;
    margin-right: 2%;
}

/* facebook */

.fa-facebook {
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

/* instagram */

.fa-instagram {
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

/* twitter */

.fa-twitter {
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

/* youtube */

.fa-youtube {
    text-align: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
}

/* ++++++++++ Media Queries +++++++++++ */


/* Portrait 

@media only screen and (min-device-width: 320px) {

    #logo {
        font-size: 0.6em;
        margin-left: 9%;
        padding-top: 5%;
        padding-right: 0%;
    }

    #menu a {
        font-size: 0.3em;
    }
    
    .hero {
        width: 100vw;
        height: 55vh;
        margin-top: 19%;
    }

    #about-home-title h2  {
        font-size: 2.2em;
        padding-top: 22%;
        padding-right: 0%;
    }

    #about-home-info p {
        font-size: 1.2rem;
        padding: 5%;
        padding-top: 2%;
    }

    #about-home-image {
        width: 100vw;
        padding-top: 15%;
    }

    #about-home-info-two p {
        font-size: 1.2rem;
        padding: 5%;
        padding-top: 3%;
        padding-right: 0%;
    }

    #home-logo-motu {
        width: 100%;
        margin-left: 1%;
        margin-top: 5%;
    }

    .footer-info {
        padding: 5%;
        padding-top: 34%;
        padding-left: 10%;
    }

    .social-networks {
        padding-top: 0%;
        padding-left: 4%;
    }
} 

@media only screen and (min-device-width: 500px) {


    #logo {
        font-size: 1em;
        margin-left: 5%;
        padding-top: 5%;
        padding-right: 0%;
    }

    #menu a {
        font-size: 0.5em;
    }
    
    .hero {
        width: 100vw;
        height: 55vh;
        margin-top: 19%;
    }

    #about-home-title h2  {
        font-size: 3.2em;
        padding-top: 22%;
        padding-right: 0%;
    }

    #about-home-info p {
        font-size: 1.2rem;
        padding: 5%;
        padding-top: 2%;
    }

    #about-home-image {
        width: 100vw;
        height: 50vh;
        padding-top: 15%;
    }

    #about-home-info-two p {
        font-size: 1.2rem;
        padding: 5%;
        padding-top: 3%;
        padding-right: 0%;
    }

    #home-logo-motu {
        width: 100%;
        margin-left: 1%;
        margin-top: 5%;
    }

    .footer-info {
        padding: 5%;
        padding-top: 32%;
        padding-left: 10%;
    }

    .social-networks {
        padding-top: 0%;
        padding-left: 4%;
    }








}
/* Portrait


@media only screen and (min-device-width: 500px) {

    #about-home-title h2  {
        font-size: 3.2em;
        padding-top: 22%;
        padding-right: 0%;
    }

    .footer-placeholder {
        height: 30vh;
    }

    .footer-info {
        padding: 6%;
        padding-top: 20%;
    }

    .social-networks {
        padding-left: 0%;
    }

}

@media only screen and (min-device-width: 640px) {

    #about-home-title h2  {
        font-size: 4em;
        padding-top: 11%;
        padding-right: 0%;
    }

    #about-home-info p {
        font-size: 0.9em;
        padding-top: 0%;
        padding-right: 10%;
        padding-left: 10%;
        margin-top: -7%;
    }

    #about-home-image {
        width: 100vw;
        padding-top: 5%;
    }

    #vault-home-info p {
        font-size: 1.2rem;
        padding: 5%;
        padding-top: 0%;
        padding-right: 0%;
        margin-top: -8%;
    }

    #home-logo-motu {
        margin-top: 1%;
    }

    .footer-placeholder {
        height: 33vh;
    }

    .social-networks {
        padding-left: 0%;
    }

}

@media only screen and (min-device-width: 1284px) {

} */


