@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Permanent Marker', cursive;
    font-weight: 300;
    color: #3a3a3a;
}

/*  headings and logo */

h1,
h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
    margin-left: 30px;
}

/* nav links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover box with text */

#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#cover-text,
#cover-text h2 {
    color: #02f7b9;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url(../images/Retro-Pop-Crazy-Hero-Image-MBP.jpg) no-repeat center center;

    /* animates zoom on loading page banner */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

/* creates zoom for hero image */
@keyframes hero-zoom {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.1);
    }
}

#cover-text {
    font-size: 130%;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;

    width: 170px;
    height: 110px;

    padding-top: 10px;
    padding-left: 10px;

    background-color: #050505;

    bottom: 10px;
    right: 10px;

    position: absolute;
}

/* about us section */

#about-us {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: blue;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: silver;
}
#center-about {
    width: 33%;
    margin: 0 auto;
    background-color: springgreen;
}