@import url('https://fonts.googleapis.com/css2?family=Bungee+Outline&family=Permanent+Marker&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Permanent Marker', cursive;
    font-weight: 100;
    background-image: url("../images/grunge-3.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



/* nav links */

#menu {
    color: #ff00bf;
    font-size: 2em;
    letter-spacing: 4px;
    margin-right: 3rem;
    margin-top: 4rem;
}

#menu,
#logo {
    line-height: 1rem;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #ffffff;
}

.active {
    border-bottom: 1px solid #edd496;


}

/* logo */

#logo {
    font-family: 'Bungee Outline', cursive;
    float: left;
    font-size: 2em;
    letter-spacing: 0px;
    margin-bottom: 4rem;
    margin-left: 3rem;
    color: #ffffff

}

/* hero image */

.hero {
    position: inherit;
    width: 100vw;
    height: 80vh;
    display: flex;
    background-repeat: no-repeat;
    background: url(../images/hero-image-3-2560x1004.png);
    background-size: cover;
    background-position: center center;
}

.hero {

    /* animates zoom on loading page banner */
    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-delay: 50ms;
    animation-fill-mode: forwards;
}

    /* creates zoom for hero image */
    @keyframes hero-zoom {
        from {
            transform: scale(1.1);
        }

        to {
            transform: scale(1.0);
        }
}

.about-home-title {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.8em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7rem;
    color: #ff00bf;
}

.about-home-subtitle {
    font-family: 'Russo One', cursive;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 20px;
    padding-left: 10%;
    padding-right: 10%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    color: #ffffff;
}

#about-image {
    position: relative;
    width: 1200px;
    height: 1200px;
    display: flex;
    margin-top: 6rem;
    margin-left: auto;
    margin-right: auto;

    /* animates zoom on loading about us image */
    animation-name: about-image-zoom;
    animation-duration: 10s;
    animation-fill-mode: forwards;
}


/* creates zoom for vault centered image */
@keyframes about-image-zoom {
    from {
        transform: scale(1.1);
    }

    to {
        transform: scale(1);
    }
}


/* iPhone 320px */

/* Portrait */
@media only screen and (max-device-width: 320px){


    #menu a {
        font-size: 0.5em;
        letter-spacing: 0px;
        margin-top: 10rem;
        margin-left: -0.9em;
    }

    #menu li {
        float: right;
        list-style-type:
        margin-right: 10px;
    }

    #logo {
        font-size: 1.3em;
        margin-top: -2rem;
        margin-left: 2rem;
    }


    .hero {
        width: 21rem;
        height: 22rem;
        margin-left: -0.5em;
    }

    .about-home-title {
        font-size: 2em;
        margin-top: 2em;
        margin-left: 1em;
        margin-right: 1em;
    }

    .about {
        margin-top: 2rem;
    }
    
}

/* Portrait 
@media only screen and (max-device-width: 500px){

    #logo {
        font-size: 1.3em;
        margin-left: 2rem;
    }

    .hero {
        width: 20rem;
        height: 20rem;
        margin-left: 0;
    }

    .about-home-title {
        font-size: 2em;
        margin-left: 1em;
        margin-right: 1em;
    }

}
*/